/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-site-functionality-social-card {
    background-color: var(--wp--preset--color--white);

    ul {
        padding: 0;
        margin-top: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
    }

    .share-actions {
        padding: 0 1rem;

        ul {
            display: flex;
            justify-content: space-between;
        }
    }

 }

.wp-block-site-functionality-social-card,
.block-editor-block-inspector {
    .block-editor-media-placeholder {
        margin-bottom: 1rem;
    }

    label {
        margin-top: .25rem;
    }

    .rich-text {
        font-size: 13px;
        line-height: normal;
        padding: 6px 8px;
        margin-bottom: .5rem;
        min-height: 4rem;

        &-group {
            &__label {
                font-size: 11px;
                font-weight: 500;
                line-height: 1.4;
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: calc(8px);
                padding: 0px;
            }
            &__field {}
        }
    }

    ::placeholder,
    input::placeholder,
    textarea::placeholder {
        color: var( --wp--preset--color--grey-mid ) !important;
    }    
}

